<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LED Administrator</title>
    <script>
        function led_op(op){
            let url = (op == 1) ? "/led/on" : "/led/off";
            fetch(url)
            .then(response => response.text())
            .then(data => {
                let result = document.querySelector("#res");
                result.innerHTML = "<h3>" + data + "</h3>";
            });
        }
    </script>
</head>
<body>
    <h2>LED ON/OFF</h2>
    <button onclick="led_op(1)">LED ON</button>
    <button onclick="led_op(0)">LED OFF</button>
    <div id="res"></div>
</body>
</html>